.footer{
	background-color: #f6f6f6;
	padding-top: 57px;
	padding-bottom: 35px;
	text-transform: uppercase;
	@include fsize(12px);
	font-weight: 700;
	span{
		letter-spacing: 1.2px;
	}
	a:hover{
		opacity: 0.5;
	}
}
.footer-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	&__item{
		width: 25%;
		padding-right: 40px;
		padding-bottom: 20px;
		span{
			display: block;
			margin-bottom: 18px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.social{
		a{
			margin-right: 10px;
		}
	}
}
.mail{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	span{
		margin-bottom: 5px;
	}
	a{
		text-transform: lowercase;
		display: block;
		@include fsize(16px);
		font-weight: normal;
		letter-spacing: 0.8px;
	}
}
.contacts{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: space-between;
	justify-content: space-between;
	.bottom-logo{
		float: left;
		margin-right: 35px;
	}
}
.copyright{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.tel{
	@include fsize(16px);
	font-weight: normal;
	white-space: nowrap;
	letter-spacing: 0.8px;
}
@media only screen and (max-width : 1100px) {
	.footer-list__item{
			width: 50%;
		}
}
@media only screen and (max-width : 680px) {
	.footer-list__item{
			width: 100%;
		}
}